
@{
    Layout = null;
}
@model Kitap
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitap Getir</title>
</head>
<body>

    <p>@Model.Adi</p>
    
</body>
</html>