@{
    Layout=null;
}
@model Katilimci
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  
    <title>Document</title>
</head>
<body>
<div class="container text-left">
  <div class="row">
<p>@Model.EpostaAdresi</p>
<p>@Model.Sifre</p>
<p>@Model.KatilimDurumu</p>
  </div>
  </div>
</body>
<script src="/lib/bootstrap/js/bootstrap.min.js" ></script>
</html>