@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"  />
    <title>Deneme/Index5</title>
</head>
<body>
    <p>Deneme Index5</p>
    <a class="btn btn-danger" href="/Home/Index">Home-Index</a>
    <br>
    <a  class="btn btn-primary" asp-controller="Home" asp-action="Index">Home-Index</a>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" ></script>
</html>