
@model Ders
    <div class="col-3">

    <div class="card" style="width: 18rem;">
  <img src="~/img/@Model.DersResim" height="150px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Model.DersAdi</h5>
    <p class="card-text">@Model.DersKisaAciklama</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="DersDetay" asp-route-id="@Model.Id">Detay</a>
  </div>
</div>
    </div>
 
 


