@{
   Layout=null; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Okul-Mudur</title>
</head>
<body>
   
<p>Merhaba Ben Okul M端d端r端y端m</p>

</body>
</html>