@{
Layout=null;
}

@model Ogrenci
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayit</title>
</head>
<body>
    Ogrenci Kayıt Yapıldı
<p>@Model.Id</p>
<p>@Model.Adi</p>

</body>
</html>